---
templateClass: tmpl-home
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Eleventy Blog</title>
  <link rel="stylesheet" href="{{ '/css/site.css' | url }}" />

  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:700|Roboto&display=fallback" rel="stylesheet">
</head>
<body>
  <header class="header" id="header">
    <div class="header__container">
      <div class="header__left">
        <img class="header__logo" src="/img/tuitazo.svg" alt="">
        <span class="header__title">
          <a href="{{ '/' | url }}">{{ metadata.title }}</a>
          <h1>{{ metadata.description }}</h1>
        </span>
      </div>


    </div>
  </header>
  <main{% if templateClass %} class="main {{ templateClass }}"{% endif %}>
    {{ content | safe }}
  </main>

  <footer>
    <p>tuitazos.com {% year %}</p>
    <p>@tuitazoscom | tuitazoscom@gmail.com</p>
  </footer>
</body>
</html>